<html>
    <head>
        <style>
            button{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            body{
                background-color: #181818;
            }
            table {
                border: 4px groove aqua;
                border-collapse: separate;
                border-spacing: 10px;
                *border-collapse: expression('separate', cellSpacing='50px');
            }
            td {
            padding-top:20px;
            padding-bottom:20px;
            padding-right:20px;   
            margin: 12px 12px 12px 12px;
            }

            td:first-child {
            padding-left:20px;
            padding-right:0;
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <center>
    <body onload="load();">
    

        <h1><span onclick="location.href='/';" style="color:aqua">Guess me!</span></h1>

        <h1>Could not authenticate through facebook! Try again.</h1>

        <p style="color: #cadad5;" >if a caracter you set is NOT in the original word AT ALL the square becomes <span style="color: #818384;">grey</span> </p>
        <h6 style="font-size: 20px; margin-top:10%; color: #cadad5;" >Made with ❤️ by Ahmed Debbech</h6>
    
    </body>
    </center>
</html>