<html>
    <head>
        <style>
            body{
                background-color: #121213;
            }
            table {
                border: 2px groove aqua;
            }
            td {
            padding-top:20px;
            padding-bottom:20px;
            padding-right:20px;   
            }

            td:first-child {
            padding-left:20px;
            padding-right:0;
            }
        </style>
    </head>
    <center>
    <body onload="load();">
    

        <h1><span onclick="location.href='/';" style="color:aqua">Guess me!</span></h1>



        <table style="margin-bottom:1%; color: #cadad5; border-color: aqua;" >
            <tr>
                <% 
                  if(colors && yourword){
                    let k = 0;
                    for(var i=0; i<=colors.length-1; i++){
                      if(isNaN(colors[i])){
                      }else{
                      if(colors[i] == 3){ %>
                        <td style="font-size: 40px; padding: 20px; background-color: rgb(34, 70, 34);"><%= yourword[k] %></td>
                      <%k++;}
                      if(colors[i] == 2){%>
                        <td style="font-size: 40px; padding: 20px; background-color: orange;"><%= yourword[k] %></td>
                      <%k++;}
                      if(colors[i] == 1){%>
                        <td style="font-size: 40px; padding: 20px; background-color: #818384;"><%= yourword[k] %></td>
                      <%k++;}
                      }
                    }
                  }else{%>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                    <td style="font-size: 40px; padding: 20px; background-color: #818384;"></td>
                  <%}
                %>
            </tr>
        </table>
        <% if(won){ %>
        <h1 style="color:orangered;">🎖 Congrats 🎖 YOU WON! that's the right word</h1>
        <h2 style="color:aqua">Send Ahmed a Screenshot and he will pay you after he looks into the database.</h2>
        <% } %>
        
        <input style="font-size: 30px;" id="pass" type ="text"/>
        <button style="font-size: 30px;" onclick="gett(document.getElementById('pass').value);">👍</button>
        <span id="err" style="display: none; color:orangered;">the word should have 10 letters</span>



        <br><br><br>
        <h1 style="color: #cadad5;" id="msg" >it's simple!</h1>
        <p style="color: #cadad5;" >You GUESS the RIGHT original word that Ahmed knows you EARN <span style="color:aqua">10DT</span></p>
        <p style="color: #cadad5;" >* the word contains 10 caracters all lowercase</p>
        <p style="color: #cadad5;" >* the word is has numbers and letters from a to z</p>
        <p style="color: #cadad5;" >* that's it! enjoy</p>
        <p style="color: #cadad5;" >* Oh! btw you won't find anything in javascript files so don't bother 😏</p>
        
        <h1 style="color: #cadad5;" id="msg" >~THE RULES~</h1>
        <p style="color: #cadad5;" >if a letter you set is in its right place like the original word the square becomes <span style="color: green;">green</span> </p>
        <p style="color: #cadad5;" >if a letter you set is NOT in its right place like the original word the square becomes <span style="color: orange;">orange</span> </p>
        <p style="color: #cadad5;" >if a letter you set is NOT in the original word AT ALL the square becomes <span style="color: #818384;">grey</span> </p>
        <h6 style="font-size: 20px; margin-top:10%; color: #cadad5;" >Made with love by Ahmed Debbech!</h6>
    


        <script>
            function gett(word){
                if(word.length != 10){
                    document.getElementById("err").style.display = "block";
                }else{
                    window.location.href='/process/'+word;
                }
            }
        </script>
    </body>
    </center>
</html>
<!-- HAHAHA!! what a looser, you won't find anything here baby <3 -->
