<html>
    <head>
        <style>
            button{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            body{
                background-color: #121213;
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Wordrace</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      </head>
    <center>
    <body >

        <h1><span onclick="location.href='/';" style="color:aqua;">Wordrace</span></h1>
      
        <br> <br>


        <h1 style="color:orangered;">The word you trying to solve has just been solved by someone else 😞</h1>
        <h2 style="color:aqua">No problem click <a href="/">here</a> to try again.</h2>

        <br><br>
        <a style="font-size: 20px; color: aqua;" href="/">[Home]</a>
        <a style="font-size: 20px; color: aqua;" href="/leaderboard">[Leaderboard]</a>
        <h6 style="font-size: 20px; color: #cadad5;" >Made with ❤️ by Ahmed Debbech</h6>
    

    </body>
    </center>
</html>